/* Main stylesheet - imports all modular CSS files */
@import url('variables.css');
@import url('reset.css');
@import url('utilities.css');
@import url('navigation.css');
@import url('hero.css');
@import url('skills.css');
@import url('projects.css');
@import url('logos.css');
@import url('contact.css');
@import url('modal.css');
@import url('footer.css');
